.venv/ 
__pycache__/ 
*.pkl 
*.png 
*.pyc 
*.pyo 
*.pyd 
.Python 
env/ 
build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
.DS_Store 
*.so 
*.dll 
ml_results/ 
